<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Dependencies-and-Load-in-Dataset" data-toc-modified-id="Import-Dependencies-and-Load-in-Dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Dependencies and Load in Dataset</a></span></li><li><span><a href="#Pandas-Exploratory-Data-Analysis" data-toc-modified-id="Pandas-Exploratory-Data-Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Exploratory Data Analysis</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Show-the-First/Last-Rows-of-Dataset" data-toc-modified-id="Show-the-First/Last-Rows-of-Dataset-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Show the First/Last Rows of Dataset</a></span></li><li><span><a href="#Drop-Unnecessary-Pandas-Column" data-toc-modified-id="Drop-Unnecessary-Pandas-Column-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Drop Unnecessary Pandas Column</a></span></li><li><span><a href="#Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column" data-toc-modified-id="Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Compute a New Pandas Series and Attach to Dataframe as Column</a></span></li><li><span><a href="#Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria" data-toc-modified-id="Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Count Number of Rows in Dataframe Meet Some Criteria</a></span></li><li><span><a href="#Filter-DataFrame-for-a-Subset-of-Rows" data-toc-modified-id="Filter-DataFrame-for-a-Subset-of-Rows-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>Filter DataFrame for a Subset of Rows</a></span></li></ul></li><li><span><a href="#Difference-Between-extractall-and-findall" data-toc-modified-id="Difference-Between-extractall-and-findall-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Difference Between <code>extractall</code> and <code>findall</code></a></span></li></ul></li><li><span><a href="#Regex-Character-Classes" data-toc-modified-id="Regex-Character-Classes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Regex Character Classes</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Find-all-Tweets-That-Start-with-a-Number" data-toc-modified-id="Find-all-Tweets-That-Start-with-a-Number-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Find all Tweets That Start with a Number</a></span></li><li><span><a href="#Find-all-@-Mentions" data-toc-modified-id="Find-all-@-Mentions-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Find all @ Mentions</a></span><ul class="toc-item"><li><span><a href="#Alternative-Method-to-Work-With-Lists-in-Pandas" data-toc-modified-id="Alternative-Method-to-Work-With-Lists-in-Pandas-3.0.2.1"><span class="toc-item-num">3.0.2.1&nbsp;&nbsp;</span>Alternative Method to Work With Lists in Pandas</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Quantifiers" data-toc-modified-id="Quantifiers-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Quantifiers</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Match-All-Phone-Numbers-(Link)" data-toc-modified-id="Match-All-Phone-Numbers-(Link)-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Match All Phone Numbers (<a href="https://regexr.com/50v17" rel="nofollow" target="_blank">Link</a>)</a></span></li><li><span><a href="#Parse-Out-Zip-Codes-(Link)" data-toc-modified-id="Parse-Out-Zip-Codes-(Link)-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Parse Out Zip Codes (<a href="https://regexr.com/50v1g" rel="nofollow" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Capture-Groups" data-toc-modified-id="Capture-Groups-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Capture Groups</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)" data-toc-modified-id="Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Example: Parsing out Weekday from Timestamp String (<a href="https://regexr.com/50v0l" rel="nofollow" target="_blank">Link</a>)</a></span></li><li><span><a href="#Example:-Parsing-Out-Domain-Names" data-toc-modified-id="Example:-Parsing-Out-Domain-Names-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Example: Parsing Out Domain Names</a></span></li></ul></li><li><span><a href="#Non-Capture-Groups" data-toc-modified-id="Non-Capture-Groups-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Non-Capture Groups</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Link)" data-toc-modified-id="Example-1-(Link)-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Example 1 <a href="https://regexr.com/50t7c" rel="nofollow" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-2-(Link)" data-toc-modified-id="Example-2-(Link)-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Example 2 <a href="https://regexr.com/50t7c" rel="nofollow" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-3-(Link)" data-toc-modified-id="Example-3-(Link)-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Example 3 (<a href="https://regexr.com/50ush" rel="nofollow" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Find-the-subject-headings-for-these-emails." data-toc-modified-id="Find-the-subject-headings-for-these-emails.-6.0.0.1"><span class="toc-item-num">6.0.0.1&nbsp;&nbsp;</span>Find the subject headings for these emails.</a></span></li><li><span><a href="#Find-all-hashtags-mentioned-in-the-tweets_df-dataset.-Store-it-as-a-separate-column-called-hashtags." data-toc-modified-id="Find-all-hashtags-mentioned-in-the-tweets_df-dataset.-Store-it-as-a-separate-column-called-hashtags.-6.0.0.2"><span class="toc-item-num">6.0.0.2&nbsp;&nbsp;</span>Find all hashtags mentioned in the <code>tweets_df</code> dataset. Store it as a separate column called <strong>hashtags</strong>.</a></span></li><li><span><a href="#In-fraudulent_emails.txt,-identify-the-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers." data-toc-modified-id="In-fraudulent_emails.txt,-identify-the-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers.-6.0.0.3"><span class="toc-item-num">6.0.0.3&nbsp;&nbsp;</span>In <code>fraudulent_emails.txt</code>, identify the <strong>list of email addresses</strong> for your security administrator to blacklist from your company's email servers.</a></span></li><li><span><a href="#In-fraudulent_emails.txt,-identify-any-IP-addresses-that-should-be-blacklisted" data-toc-modified-id="In-fraudulent_emails.txt,-identify-any-IP-addresses-that-should-be-blacklisted-6.0.0.4"><span class="toc-item-num">6.0.0.4&nbsp;&nbsp;</span>In <code>fraudulent_emails.txt</code>, identify any IP addresses that should be blacklisted</a></span></li><li><span><a href="#The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling." data-toc-modified-id="The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling.-6.0.0.5"><span class="toc-item-num">6.0.0.5&nbsp;&nbsp;</span>The word "AT&amp;T" is not spelled correctly in the <code>tweets_df</code> dataset. Correct the misspelling.</a></span></li><li><span><a href="#Removing-hashtags-and-mentions,-which-topic-has-the-highest-average-tweet-character-count?" data-toc-modified-id="Removing-hashtags-and-mentions,-which-topic-has-the-highest-average-tweet-character-count?-6.0.0.6"><span class="toc-item-num">6.0.0.6&nbsp;&nbsp;</span>Removing hashtags and mentions, which topic has the highest average tweet character count?</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Import Dependencies and Load in Dataset

In [1]:
import pandas as pd
tweets_df: pd.DataFrame = pd.read_csv("../datasets/tweets_pandas.csv")

# Pandas Exploratory Data Analysis

### Show the First/Last Rows of Dataset

In [2]:
tweets_df.tail(3)

,likes,index,date,topic,handle,tweet
495,4,14074,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,14075,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,14076,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

### Drop Unnecessary Pandas Column

In [3]:
tweets_df.drop(columns=["index"], inplace=True)

### Compute a New Pandas Series and Attach to Dataframe as Column

In [4]:
# get length of tweets in characters
tweets_df["tweet_length"] =tweets_df["tweet"].apply(len)
tweets_df

,likes,date,topic,handle,tweet,tweet_length
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...,58
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck...",58
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75
...,...,...,...,...,...,...
493,2,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...,102
494,0,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat...",125
495,4,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...,65
496,0,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far...",94
497,0,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...,92

### Count Number of Rows in Dataframe Meet Some Criteria

In [6]:
# count number of times Obama appears in tweets
tweets_df["contains_obama"] = tweets_df["tweet"].str.contains(r'\bObama')

In [10]:
tweets_df["contains_obama"].mean()

0.0321285140562249

<div class="alert-success">
basically, all text in df requires <b>.str</b></div>

In [7]:
tweets_df['contains_obama'].sum() / len(tweets_df)

0.0321285140562249

In [8]:
tweets_df['contains_obama'].mean()

0.0321285140562249

### Filter DataFrame for a Subset of Rows

In [9]:
tweets_df[tweets_df["contains_obama"]]

,likes,date,topic,handle,tweet,tweet_length,contains_obama
9,4,Mon May 11 03:29:20 UTC 2009,obama,mandanicole,how can you not love Obama? he makes jokes abo...,57,True
10,2,Mon May 11 03:32:42 UTC 2009,obama,jpeb,Check this video out -- President Obama at the...,101,True
11,0,Mon May 11 03:32:48 UTC 2009,obama,kylesellers,@Karoli I firmly believe that Obama/Pelosi hav...,140,True
12,4,Mon May 11 03:33:38 UTC 2009,obama,theviewfans,House Correspondents dinner was last night who...,106,True
48,0,Sun May 17 17:32:00 UTC 2009,aig,KennyTRoland,?Obama Administration Must Stop Bonuses to AIG...,85,True
102,0,Mon May 25 17:35:23 UTC 2009,cheney,jepaco,"Dick Cheney's dishonest speech about torture, ...",102,True
243,4,Mon May 11 03:29:01 UTC 2009,obama,lingbellbell,Obama is quite a good comedian! check out his ...,87,True
244,4,Mon May 11 03:29:38 UTC 2009,obama,motsandco,"' Barack Obama shows his funny side "" &gt;&gt;...",82,True
245,4,Mon May 11 03:29:41 UTC 2009,obama,mickou,I like this guy : ' Barack Obama shows his fun...,85,True
246,4,Mon May 11 03:32:35 UTC 2009,obama,meggentile,Obama's speech was pretty awesome last night! ...,65,True
247,4,Mon May 11 03:33:05 UTC 2009,obama,failness,"Reading ""Bill Clinton Fail - Obama Win?"" http...",67,True
248,4,Mon May 11 03:33:43 UTC 2009,obama,kledy,Obama More Popular Than U.S. Among Arabs: Surv...,140,True
249,4,Mon May 11 03:34:04 UTC 2009,obama,LaurelEdelstein,Obama's got JOKES!! haha just got to watch a b...,128,True
330,0,Mon May 25 17:19:30 UTC 2009,north korea,Mvsic,Listening to Obama... Friggin North Korea...,44,True
331,0,Mon May 25 17:21:16 UTC 2009,pelosi,CFURNAROS,I just realized we three monkeys in the white ...,83,True
375,2,Tue Jun 02 03:00:51 UTC 2009,gm,economywire,Obama: Nationalization of GM to be short-term ...,78,True

## Difference Between `extractall` and `findall`

The `extractall` method will return a fanned-out multi-dimensional index. For example, in the example below, the primary index is `0`, but there are sub-indices for `stellargirl` (`0`), `loooooooovvvvvveee` (`1`), etc.

<div class="alert-success">
extractall returns everything inside of the capturing group (i.e. things inside parentheses) for a RegX pattern</div>

In [10]:
tweets_df['tweet'][0]

'@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.'

In [28]:
tweets_df["tweet"].str.findall(r'\b@(\w{4,})\b')

0      []
1      []
2      []
3      []
4      []
       ..
493    []
494    []
495    []
496    []
497    []
Name: tweet, Length: 498, dtype: object

<div class="alert-success">
@ is somehow considered as a boundary</div>

In [26]:
tweets_df["tweet"].str.findall(r'@(\w{4,})\b')

0      [stellargirl]
1                 []
2                 []
3       [kenburbary]
4         [mikefish]
           ...
493               []
494               []
495               []
496               []
497               []
Name: tweet, Length: 498, dtype: object

<div class="alert-success">
<b>multiple named capturing groups</b></div>

In [30]:
tweets_df["tweet"].str.findall(r'(@|#)(\w{4,})\b')

0                                   [(@, stellargirl)]
1                                                   []
2                                       [(#, kindle2)]
3                                    [(@, kenburbary)]
4                                      [(@, mikefish)]
                            ...
493                                                 []
494                                                 []
495                                                 []
496    [(#, flockofseagullsweregeopoliticallycorrect)]
497                                                 []
Name: tweet, Length: 498, dtype: object

In [42]:
tweets_df[['symblotype', 'bodytext']] = tweets_df["tweet"] \
                                    .str.extract(r'(?P<symboltype>@|#)(?P<bodytext>\w{4,})')
tweets_df.head()

,likes,date,topic,handle,tweet,tweet_length,contains_obama,symblotype,bodytext
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111,False,@,stellargirl
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...,58,False,NaN,NaN
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck...",58,False,#,kindle2
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140,False,@,kenburbary
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75,False,@,mikefish

In [43]:
text = 'Ok, first assesment of the #kindle2 ...it fuck...'
match = re.search(r'(?P<symboltype>@|#)(?P<bodytext>\w{4,})', text)
match

<div class="alert-success">
<i>search</i> only returns the very first result, i.e. greedy, while <i>findall</i> is a lazy way to return all</div>

In [44]:
match.groups()

('#', 'kindle2')

In [45]:
match.groupdict()

{'symboltype': '#', 'bodytext': 'kindle2'}

<div class="alert-success">
help to organize the results</div>

In [12]:
tweets_df["tweet"].str.extractall(r'\b(\w{3,})\b').head(6)

                          0
  match
0 0             stellargirl
  1      loooooooovvvvvveee
  2                 Kindle2
  3                     Not
  4                    that
  5                     the

The `findall` method will return a list of results (or an empty list if there is no match).

In [14]:
tweets_df["tweet"].str.extractall(r'\b(\w{8,})\b').head(6)

                          0
  match
0 0             stellargirl
  1      loooooooovvvvvveee
  2               fantastic
2 0               assesment
3 0              kenburbary
4 0                mikefish

<div class="alert-success">
extractall -> multiIndex,   findall -> lists</div>

In [13]:
tweets_df["tweet"].str.findall(r'\b(\w{8,})\b')

0      [stellargirl, loooooooovvvvvveee, fantastic]
1                                                []
2                                       [assesment]
3                                      [kenburbary]
4                                        [mikefish]
                           ...
493              [Programming, InDesign, submitted]
494                                      [TEXN3RDS]
495                                   [environment]
496      [flockofseagullsweregeopoliticallycorrect]
497                        [terrifying, incredibly]
Name: tweet, Length: 498, dtype: object

In [15]:
tweets_df["tweet"].str.findall(r'\b(\w{8,})\b').apply(len).sum()

618

# Regex Character Classes

There are often shortcut keywords you can use instead of typing out every possible character you want to match against. For instance, instead of `[a-zA-Z0-9]`, for all practical purposes, you can type out `/w`.

![Character Classes](https://raw.githubusercontent.com/ychennay/dso-560-nlp-text-analytics/main/images/character_chars.png "Regex character classes")

### Find all Tweets That Start with a Number

* [Non-Match Example](https://regexr.com/50ur7)
* [Match Example](https://regexr.com/50urj)

In [16]:
text = "I have a child and want multiple children"
import re
re.findall(r'\bchild(?:ren)?\b', text)

['ren']

In [17]:
re.findall(r'\bchild(ren)?\b', text)

['', 'ren']

In [31]:
re.findall(r'\bchild(ren)\b', text) # w/o ?

['ren']

In [ ]:
"I like dogs. I like cats."

In [71]:
tweets_df[tweets_df["tweet"].str.contains(r'\b^')]["tweet"].tolist()

['@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.',
 'Reading my kindle2...  Love it... Lee childs is good read.',
 'Ok, first assesment of the #kindle2 ...it fucking rocks!!!',
 "@kenburbary You'll love your Kindle2. I've had mine for a few months and never looked back. The new big one is huge! No need for remorse! :)",
 "@mikefish  Fair enough. But i have the Kindle2 and I think it's perfect  :)",
 "@richardebaker no. it is too big. I'm quite happy with the Kindle2.",
 "#lebron best athlete of our generation, if not all time (basketball related) I don't want to get into inter-sport debates about   __1/2",
 "@ludajuice Lebron is a Beast, but I'm still cheering 4 the A..til the end.",
 '[#MLUC09] Customer Innovation Award Winner: Booz Allen Hamilton -- http://ping.fm/c2hPP',
 '@SoChi2 I current use the Nikon D90 and love it, but not as much as the Canon 40D/50D. I chose the D90 for the  video feature. My mistake.',
 "@phyreman9 Google is always a good place to look. Should've mentioned I worked on the Mustang w/ my Dad, @KimbleT.",
 'I\'m listening to "P.Y.T" by Danny Gokey &lt;3 &lt;3 &lt;3 Aww, he\'s so amazing. I &lt;3 him so much :)',
 "glad i didnt do Bay to Breakers today, it's 1000 freaking degrees in San Francisco wtf",
 'Bill Simmons in conversation with Malcolm Gladwell http://bit.ly/j9o50',
 "@morind45 Because the twitter api is slow and most client's aren't good.",
 "By the way, I'm totally inspired by this freaky Nike commercial: http://snurl.com/icgj9",
 'Brand New Canon EOS 50D 15MP DSLR Camera Canon 17-85mm IS Lens ...: Web Technology Thread, Brand New Canon EOS 5.. http://u.mavrev.com/5a3t',
 '@accannis @edog1203 Great Stanford course. Thanks for making it available to the public! Really helpful and informative for starting off!',
 "NVIDIA Names Stanford's Bill Dally Chief Scientist, VP Of Research http://bit.ly/Fvvg9",
 'Cheney and Bush are the real culprits - http://fwix.com/article/939496',
 'Life?s a bitch? and so is Dick Cheney. #p2 #bipart #tlot #tcot #hhrs #GOP #DNC http://is.gd/DjyQ',
 'jQuery UI 1.6 Book Review - http://cfbloggers.org/?c=30631',
 'Very Interesting Ad from Adobe by Goodby, Silverstein &amp; Partners - YouTube - Adobe CS4: Le Sens Propre http://bit.ly/VprpT',
 'The ever amazing Psyop and Goodby Silverstein &amp; Partners for HP! http://bit.ly/g2rU8 Have to go play with After Effects now!',
 'top ten most watched on Viral-Video Chart.  Love the nike #mostvaluablepuppets campaign from Wieden &amp; Kennedy http://bit.ly/nR1n9',
 'zomg!!! I have a G2!!!!!!!',
 'Ok so lots of buzz from IO2009 but how lucky are they - a Free G2!! http://is.gd/Hyzl',
 'just got a free G2 android at google i/o!!!',
 "Guess I'll be retiring my G1 and start using my developer G2 woot #googleio",
 'Hi there, does anyone have a great source for advice on viral marketing?... http://link.gs/YtZ8',
 "Here's A case study on how to use viral marketing to add over 10,000 people to your list http://snipr.com/i50oz",
 "VIRAL MARKETING FAIL. This Acia Pills brand oughta get shut down for hacking into people's messenger's.  i get 5-6 msgs in a day! Arrrgh!",
 'Just saw the new Night at the Museum movie...it was...okay...lol 7\\10',
 'Going to see night at the museum 2 with tall boy',
 '@shannyoday I will take you on a date to see night at the museum 2 whenever you want...it looks soooooo good',
 'saw night at the museum 2 last night.. pretty crazy movie.. but the cast was awesome so it was well worth it. Robin Williams forever!',
 'Night at the Museum tonite instead of UP. :( oh well. that 4 yr old better enjoy it. LOL',
 'F*ck Time Warner Cable!!! You f*cking suck balls!!! I have a $700 HD tv &amp; my damn HD channels hardly ever come in. Bullshit!!',
 'Rocawear Heads to China, Building 300 Stores  - http://tinyurl.com/nofet3',
 'Three China aerospace giants develop Tianjin Binhai  New Area,  22.9 B yuan invested   http://bit.ly/mMiDv',
 'just started playing Major League Baseball 2K9. http://raptr.com/H3LLGWAR',
 'Sony coupon code.. Expires soon.. http://www.coupondork.com/r/1796',
 '@XPhile1908 I have three words for you: "Safeway dot com"',
 'iPhone May Get Radio Tagging and Nike  : Recently-released iTunes version 8.2 suggests that VoiceOver functional.. http://tinyurl.com/oq5ctc',
 'Beginning JavaScript and CSS Development with jQuery #javascript #css #jquery http://bit.ly/TO3e5',
 'RT @blknprecious1: RT GREAT @dbroos "Someone\'s sitting in the shade today because someone planted a tree a long time ago."- Warren Buffet',
 'Warren Buffet became (for a time) the richest man in the United States, not by working but investing in 1 Big idea which lead to the fortune',
 'According to the create a school, Notre Dame will have 7 receivers in NCAA 10 at 84 or higher rating :) *sweet*',
 "@BlondeBroad it's definitely under warranty &amp; my experience is the amazon support for kindle is great! had to contact them about my kindle2",
 'RT Look, Available !Amazon Kindle2 &amp; Kindle DX, Get it Here: http://short.to/87ub The Top Electronic Book Reader Period, free 2 day ship ...',
 'Time Warner cable phone reps r dumber than nails!!!!! UGH! Cable was working 10 mins ago now its not WTF!',
 "pissed about at&amp;t's mid-contract upgrade price for the iPhone (it's $200 more) I'm not going to pay $499 for something I thought was $299",
 'Safari 4 is fast :) Even on my shitty AT&amp;T tethering.',
 "@springsingfiend @dvyers @sethdaggett @jlshack AT&amp;T dropped the ball and isn't supporting crap with the new iPhone 3.0... FAIL #att SUCKS!!!",
 'Talk is Cheap: Bing that, I?ll stick with Google. http://bit.ly/XC3C8',
 'reading on my new Kindle2!',
 'My Kindle2 came and I LOVE it! :)',
 'LOVING my new Kindle2.  Named her Kendra in case u were wondering. The "cookbook" is THE tool cuz it tells u all the tricks!  Best gift EVR!',
 '45 Pros You Should Be Following on Twitter - http://is.gd/sMbZ',
 'Reading  "Bill Clinton Fail - Obama Win?" http://tinyurl.com/pcyxj7',
 'LEbron james got in a car accident i guess..just heard it on evening news...wow i cant believe it..will he be ok ? http://twtad.com/69750',
 "@uscsports21 LeBron is a monsta and he is only 24. SMH The world ain't ready.",
 "@asherroth World Cup 2010 Access?? Damn, that's a good look!",
 'Just bought my tickets for the 2010 FIFA World Cup in South Africa. Its going to be a great summer. http://bit.ly/9GEZI',
 'The great Indian tamasha truly will unfold from May 16, the result day for Indian General Election.',
 "@crlane I have the Kindle2. I've seen pictures of the DX, but haven't seen it in person. I love my Kindle - I'm on it everyday.",
 '@criticalpath Such an awesome idea - the  continual learning program with a Kindle2  http://bit.ly/1ZLfF',
 'RT @justindavey: RT @tweetmeme GM OnStar now instantly sends accident location coordinates to 911 | GPS Obsessed http://bit.ly/16szL1',
 'Boarding plane for San Francisco in 1 hour; 6 hr flight. Blech.',
 'RT @clashmore: http://bit.ly/SOYv7  Great article by Malcolm Gladwell.',
 "I'm really loving the new search site Wolfram/Alpha. Makes Google seem so ... quaint. http://www72.wolframalpha.com/",
 'New blog post: Nike Zoom LeBron Soldier 3 (III) - White / Black - Teal http://bit.ly/rouUS',
 'New blog post: Nike Trainer 1 http://bit.ly/394bp',
 "@Fraggle312 oh those are awesome! i so wish they weren't owned by nike :(",
 '#MBA Admissions Tips Stanford GSB Deadlines and Essay Topics 2009-2010 http://tinyurl.com/pet4fd',
 'Wat the heck is North Korea doing!!??!! They just conducted powerful nuclear tests! Follow the link: http://www.msnbc.msn.com/id/30921379',
 'I just realized we three monkeys in the white Obama.Biden,Pelosi . Sarah Palin 2012',
 '@mashable I never did thank you for including me in your Top 100 Twitter Authors! You Rock! (&amp; I New Wave :-D) http://bit.ly/EOrFV',
 'Learning jQuery 1.3 Book Review - http://cfbloggers.org/?c=30629',
 'Adobe CS4 commercial by Goodby Silverstein: http://bit.ly/1aikhF',
 "Wow everyone at the Google I/O conference got free G2's with a month of unlimited service",
 '@vkerkez dood I got a free google android phone at the I/O conference. The G2!',
 "HTML 5 Demos! Lots of great stuff to come! Yes, I'm excited. :) http://htmlfive.appspot.com #io2009 #googleio",
 'Night At The Museum 2? Pretty furkin good.',
 '@pambeeslyjenna Jenna, I went to see Night At The Museum 2 today and I was so surprised to see three cast members from The Office...',
 'Getting ready to go watch Night at the Museum 2.  Dum dum, you give me gum gum!',
 'just watched night at the museum 2! so stinkin cute!',
 "So, Night at the Museum 2 was AWESOME! Much better than part 1. Next weekend we'll see Up.",
 'I think I may have a new favorite restaurant. On our way to see "Night at the Museum 2".',
 "UP! was sold out, so i'm seeing Night At The Museum 2. I'm __ years old.",
 'I Will NEVER Buy a Government Motors Vehicle: Until just recently, I drove GM cars. Since 1988, when I bought a .. http://tinyurl.com/lulsw8',
 'Time Warner CEO hints at online fees for magazines      (AP) - Read from Mountain View,United States. Views 16209 http://bit.ly/UdFCH',
 "RT @sportsguy33 The upside to Time Warner: unhelpful phone operators   superslow on-site service. Crap, that's not an upside.",
 'RT @sportsguy33: New Time Warner slogan: "Time Warner, where we make you long for the days before cable."',
 "confirmed: it's Time Warner's fault, not Facebook's, that fb is taking about 3 minutes to load. so tempted to switch to verizon =/",
 'Weird Piano Guitar House in China! http://u2s.me/72i8',
 'Check this video out -- David After Dentist http://bit.ly/47aW2',
 'Phillies Driving in the Cadillac with the Top Down in Cali, Win 5-3 - http://tinyurl.com/nzcjqa',
 '10 tips for healthy eating ? ResultsBy Fitness Blog :: Fitness ... http://bit.ly/62gFn',
 'Nike SB Blazer High "ACG" Custom - Brad Douglas - http://timesurl.at/45a448',
 "I can't watch TV without a Tivo.  And after all these years, the Time/Warner DVR  STILL sucks. http://www.davehitt.com/march03/twdvr.html",
 'I still love my Kindle2 but reading The New York Times on it does not feel natural. I miss the Bloomingdale ads.',
 'I love my Kindle2. No more stacks of books to trip over on the way to the loo.',
 '@Plip Where did you read about tethering support Phil?  Just AT&amp;T or will O2 be joining in?',
 "GOT MY WAVE SANDBOX INVITE! Extra excited! Too bad I have class now... but I'll play with it soon enough! #io2009 #wave",
 'I hope the girl at work  buys my Kindle2',
 "Missed this insight-filled May column: One smart guy looking closely at why he's impressed with Kindle2 http://bit.ly/i0peY @wroush",
 '@sklososky Thanks so much!!! ...from one of your *very* happy Kindle2 winners ; ) I was so surprised, fabulous. Thank you! Best, Kathleen',
 '@cwong08 I have a Kindle2 (&amp; Sony PRS-500). Like it! Physical device feels good. Font is nice. Pg turns are snappy enuf. UI a little klunky.',
 'The #Kindle2 seems the best eReader, but will it work in the UK and where can I get one?',
 'I have a google addiction. Thank you for pointing that out, @annamartin123. Hahaha.',
 "7 hours. 7 hours of inkscape crashing, normally solid as a rock. 7 hours of LaTeX complaining at the slightest thing. I can't take any more.",
 'Twitter Stock buzz: $AAPL $ES_F $SPY $SPX $PALM  (updated: 12:00 PM)',
 'Ask Programming: LaTeX or InDesign?: submitted by calcio1 [link] [1 comment] http://tinyurl.com/myfmf7',
 'Ahhh... back in a *real* text editing environment. I &lt;3 LaTeX.']

### Find all @ Mentions
We'll use the `\w` character class to match for mentions (ie. `@ychennay`).

In [46]:
tweets_df["tweet"].str.findall(r'@\w+').apply(lambda x: "@stellargirl" in x)

0       True
1      False
2      False
3      False
4      False
       ...
493    False
494    False
495    False
496    False
497    False
Name: tweet, Length: 498, dtype: bool

#### Alternative Method to Work With Lists in Pandas

# Quantifiers

Quantifiers let you specify how many times a character or group should be matched.
![Quantifiers](https://raw.githubusercontent.com/ychennay/dso-560-nlp-text-analytics/main/images/quantifiers.png "Regex character classes")

In [63]:
text = "aaaaaaaaaaabbbbbbaaaaaaa"
import re

re.findall(r'a{3,}', text)

['aaaaaaaaaaa', 'aaaaaaa']

In [20]:
email_address = "yuchen@gmail9com michael@yahoo.com christy@usc.edu todd@us.gov"

re.findall(r'([^\s]+)?@[^\s]*\.com', email_address)

['', 'michael']

In [32]:
re.findall(r'\b(\w+)@\w+\.(?:com|edu)\b', email_address)

['michael', 'christy']

<div class="alert-success">
use boundarys</div>

In [22]:
re.findall(r'(?:\w+)@(\w+\.(?:com|edu))', email_address)

['yahoo.com', 'usc.edu']

<div class="alert-success">
<p>use the capturing group and non-capturing group to return the desired results
<p>applications: multiple RegX to return the year e.g. 2020, 04/2020, 2020/04</div>

<div class="alert-success">
multiple capturing groups</div>

In [33]:
re.findall(r'(\w+)@(\w+\.(?:com|edu))', email_address)

[('michael', 'yahoo.com'), ('christy', 'usc.edu')]

<div class="alert-success">
use the non-capturing pattern to locate certain patterns, and use capturing patterns to return only the wanted results</div>

In [49]:
re.findall(r'(mom|dad)', text)

['mom', 'dad']

### Match All Phone Numbers ([Link](https://regexr.com/50v17))
In the unwanted callers dataset (`unwanted_calls.csv`), parse out all phone numbers.

We'll only consider for the time being phone numbers that follow the format `123-456-7890`.

### Parse Out Zip Codes ([Link](https://regexr.com/50v1g))
In the `location_center_point_of_the_zip_code` field, we store both zip codes as well as geolocation data (latitudes and longitudes). We'll only consider zip codes with 5 digits (not the +4 digit delivery route).

`r'\s\d{5}\s'` or `r'[A-Z]{2}\s(\d{5})\s'`

# Capture Groups

[Oracle documentation on Capture Groups:](https://docs.oracle.com/javase/tutorial/essential/regex/groups.html)
> Capturing groups are a way to treat **multiple characters as a single unit**. They are created by placing the characters to be grouped inside a set of parentheses. For example, the regular expression `(dog)` creates a single group containing the letters `d`, `o`, and `g`.

### Example: Parsing out Weekday from Timestamp String ([Link](https://regexr.com/50v0l))

In the `date` field of `tweets_df`, we have timestamp strings that look like this: `Mon May 11 03:22:30 UTC 2009`. We want to parse out the weekday from this string.

### Example: Parsing Out Domain Names
We want to capture the domain names of different websites. Here, we need to escape the `.` part of `www.google.com`. In regex, `.` means "anything". To actually indicate we want to match for the literal `.` period character, we need to escape it, using `\.`.

In [5]:
websites = open("../datasets/list_of_websites.txt").readlines()

In [10]:
df = pd.DataFrame(websites, columns=["websites"])
df.websites.str.extract(r'http://www\.(?P<domain>\w+)\.com')

            domain
0          youtube
1         facebook
2            baidu
3            yahoo
4           amazon
..             ...
95             NaN
96             NaN
97     accuweather
98  googleweblight
99             NaN

[100 rows x 1 columns]

## Non-Capture Groups

Sometimes you want to group multiple characters into a single unit to apply regex operations on them, but you don't
want to actually capture or return their result.

### Example 1 [(Link)](https://regexr.com/50t7c)
Using non-capture groups to match for optional text:

You want to capture both `child` and `children` in your text:

In [58]:
text = "The word child is singular, but the word children is plural. "

re.findall(r'\bchild(ren)?\b', text)

['', 'ren']

### Example 2 [(Link)](https://regexr.com/50t7c)
Find all the mentions in the tweets. Mentions start with `@`.

### Example 3 ([Link](https://regexr.com/50ush))
Here we want to match for the dollar amount, but we don't want to include the currency notation (`$` or `USD`).

In [ ]:
text = "Average fast food wage is $9.08, but inflation has increased USD9.23"

# Exercises

You'll be using the the `tweets_df` Pandas dataframe and `fraudulent_emails.txt` text files for these examples.

In [ ]:
email_text = open("../datasets/fraudulent_emails.txt").read()

#### Find the subject headings for these emails.
**Hint**: Look for the subject line within the email.

#### Find all hashtags mentioned in the `tweets_df` dataset. Store it as a separate column called **hashtags**.

#### In `fraudulent_emails.txt`, identify the **list of email addresses** for your security administrator to blacklist from your company's email servers.

* Not all emails are malicious! Provide only the list of email addresses from where the email originates from. **Hint**: identify the pattern in the emails that tells you the source of the email.

#### In `fraudulent_emails.txt`, identify any IP addresses that should be blacklisted

An IPv4 address goes from **1.1.1.1 to 255.255.255.255**. For now, just worry about the number of digits, not whether the value in the address is above `255`.

#### The word "AT&T" is not spelled correctly in the `tweets_df` dataset. Correct the misspelling.

#### Removing hashtags and mentions, which topic has the highest average tweet character count?

In [ ]:
tweets_df = tweets_df["tweet"].str.replace(r'AT&amp;', 'AT&')

In [ ]:
# first, we'll find the rows that contain AT&T to see what the pattern looks like
tweets_df[tweets_df["tweet"].str.contains(r'(AT)')].head()